.skill {background-color: beige; color:dimgrey; margin: 20px; font-size: 14px;}

.form {background-color: darkorange; margin-top: auto;}

.ab-us {color: chocolate;}

.sk {color: brown; }

.portfolio {color: darkslategray;}

.kontakt {color: dodgerblue;}